.next/dev/cache/turbopack/
node_modules/@next/swc-win32-x64-msvc/
.next/
node_modules/
*.log
prisma/dev.db

# Általános
.env
.env.*
.DS_Store
*.local

# Vercel
.vercel
vercel.json

# Build output
out/
dist/
build/

# Logok
*.log
logs/

# IDE/Editor
.vscode/
.idea/
*.swp

# Lokális segéd fájlok/mappák
sportfogadas.git/
public/thkk-banner.png

.env*.local
