@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e5e7eb;
  }
}

:root.light {
  --background: #f3f4f6;
  --foreground: #111827;
}

:root.dark {
  --background: #0f172a;
  --foreground: #e5e7eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
